.section-bg-1{
    background-image: url(https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    height: 100%;
}
.section-padding{
    padding: 60px 0;
}
.section-title h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.section-title h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section-title span {
    position: absolute;
    left: 48%;
    top: 15%;
    width: 50px;
    height: 3px;
    background: #32c4d1;
}
.section-padding::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #2e353b;
    opacity: .5;
    z-index: -1;
}
html, body {
    height: auto;
}
.portfolio-list{
    overflow: hidden;
}
.single-portfolio-item {
    float: left;
    width: 20%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-color: #333;
}
.portfolio-bg-1{
    background-image: url(https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.portfolio-bg-2{
    background-image: url(https://images.pexels.com/photos/3374204/pexels-photo-3374204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.portfolio-bg-3{
    background-image: url(https://images.pexels.com/photos/3408810/pexels-photo-3408810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.portfolio-bg-4{
    background-image: url(https://images.pexels.com/photos/1525589/pexels-photo-1525589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.portfolio-bg-5{
    background-image: url(https://images.pexels.com/photos/4703286/pexels-photo-4703286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.portfolio-bg-6{
    background-image: url(https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.single-portfolio-item.large {
    height: 500px;
    width: 40%;
}
.single-portfolio-item.wide {
    width: 40%;
}
.single-portfolio-item {
    position: relative;
    z-index: 1;
    display: table;
}
.single-portfolio-item::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.single-portfolio-item:hover::after {
  
    visibility: visible;
    opacity: .5;
    z-index: -1;
}

.portfolio-lists {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

i.fa-solid {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.portfolio-lists {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.portfolio-lists {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



.portfolio-lists i.fa-solid {
    visibility: hidden;
}
.portfolio-lists:hover i.fa-solid {
    visibility: visible;
}
