.section-padding{
    margin: 150px 0;
    margin-bottom: 0;
    padding: 50px 0;
}
.section-bg-dark {
    color: #707070;
    background: #1a1e1d;
}
body {font-weight: 400;font-size: 17px;line-height: 1.7;}

.section-bg-dark h1 {
    font-size: 80px;
    color: #fff;
}

.section-bg-dark h4 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 50px;
}

a.boxed-btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #a4a8a7;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
}
a.boxed-btn:hover {
    background-color: #fff;
    color: #000;
    border: #fff;
}
img.absolute-photo {
    margin-top: -150px;
}