.service-box-bg-1{
    background-image: url(images/class50.jpg);
}
.service-box-bg-2{
    background-image: url(images/class50-2.jpg);
}
.service-box-bg-3{
    background-image: url(images/class50-3.jpg);
}
.section-padding {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    color: #848484;
}

.section-title h2 {
    color: #222222;
    font-weight: 600;
    text-transform: uppercase;
}

.section-title span {
    color: #00c9cf;
}

.service-box-bg {
    background-size: cover;
    background-position: center;
    background-color: #fff;
    position: relative;
    height: 250px;
    z-index: 1;
    /* border: 1px solid #e5e5e5; */
    border-radius: 5px 5px 0px 0px;
}
.single-service-box i {
    height: 70px;
    width: 70px;
    display: block;
    font-size: 40px;
    background: #25385b;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    border: 4px solid #fff;
    border-radius: 50px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    /* margin-bottom: 20px; */
    transition: .3s;
}

.single-service-box h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    padding-top: 50px;
}
.single-service-box {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.single-service-box:hover.single-service-box i{
    background-color: #00c9cf;
    border-color: #25385b;
}
.single-service-box h2:hover{
    background-color: #25385b;
    color: #fff;
}