@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.8;
}
.section-padding{
    padding: 90px 0;
}
.section-padding.padding-top-0 {
    padding-bottom: 0;
}
.space-90{
    height: 90px;
}
.space-80{
    height: 80px;
}
.header-top {
    background-color: #000;
    color: #fff;
    padding: 13px 0;
}

.header-top a {
    color: #fff;
    text-decoration: none;
}
.fa-brands{
    color: #fff;
    padding-right: 0px;
}
.social-links a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 33px;
    margin-right: 5px;
}
.fa-solid{
    color: #f08a59;
}

span.social-links {
    display: inline-block;
    padding-left: 25px;
}

span.social-links a:hover {
    background: #f08a59;
    border: #f08a59;
}

i.fa-solid.fa-phone {
    padding-left: 30px;
}
i.fa-solid{
    margin-right: 5px;
}
h2.site-logo {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 4px 10px;
    font-weight: 700;
    margin-left: 0;
}
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #000;
    padding: 15px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

.header-area {
    padding: 10px 0;
}
.main-menu li:hover > a{
    border: 1px solid #f08a59;
    padding: 5px 10px;
}

.single-slide-bg-1{
    background-image: url(https://images.pexels.com/photos/5637555/pexels-photo-5637555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.single-slide-bg-2{
    background-image: url(https://images.pexels.com/photos/1117452/pexels-photo-1117452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.single-slide-bg-3{
    background-image: url(https://images.pexels.com/photos/8668920/pexels-photo-8668920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.single-list-item {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: 2;
    color: #fff;
    line-height: 2;
}
.single-list-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    z-index: -1;
    opacity: .8;
}
a.service-btn {
    color: #333;
}

a.service-btn i.fa {
    padding: 5px;
}

.single-box-item:hover {
    box-shadow: 0 0 15px #ccc;
    transition: .3s;
}
.d-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.single-list-item h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
a.boxed-btn {
    display: inline-block;
    background-color: #f08a59;
    color: #fff;
    padding: 8px 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #f08a59;
}

a.boxed-btn.bordered-btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.slide-button {
    margin-top: 30px;
}

.slide-button a {
    margin-right: 15px;
}
.slide-area .owl-dots .owl-dot span {
    width: 2px;
    height: 25px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
    margin-right: 8px;
}
.owl-dots {
    position: relative;
    left: 5px;
    bottom: 100px;
    width: 1140px;
    margin: 0 auto;
    margin-right: auto;
}

.slide-area .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f08a59;
    height: 30px;
}
.service-box-bg {
    background-color: #ddd;
    height: 205px;
    background-position: center;
    background-size: cover;
}

.service-box-content {
    border: 1px solid #ddd;
    padding: 30px;
    padding-top: 50px;
}
.services-box-title {
    position: absolute;
    top: 180px;
    width: 100%;
}

.services-box-title h2 {
    width: 80%;
    text-align: center;
    font-size: 20px;
    background-color: #f08a59;
    color: #fff;
    margin: 0 auto;
    padding: 15px;
}
.single-box-item {
    text-align: center;
    position: relative;
}

/* about me start */
.section-padding.section-grey {
    background-color: #f4f4f4;
}
.bordered-img {
    position: relative;
}

.bordered-img::before {
    position: absolute;
    left: 0px;
    top: 15%;
    background-color: #f08a59;
    content: "";
    height: 70%;
    width: 2px;
}

.bordered-img::after {
    position: absolute;
    background-color: #f08a59;
    content: "";
    height: 70%;
    width: 2px;
    top: 15%;
    right: 0;
}
.about-text {
    font-size: 14px;
    padding: 15px 0;
}
/* about me end */

/* cta-area start */
.cta-area {
    background-color: #f08a59;
    color: #fff;
    padding: 60px 0;
}

.cta-area h2 {
    font-size: 20px;
    margin: 5px 0;
    font-weight: 700;
}


a.bordered-btn {
    background-color: #fff;
    color: #333;
    padding: 5px 14px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}
/* Our projects start */
.signle-project-item {
    position: relative;
    padding-left: 260px;
    margin-bottom: 40px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.project-bg {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    width: 238px;
    height: 100%;
    z-index: 2;
}
.signle-project-item h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

a.inline-btn {
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
}

a.inline-btn i.fa {
    padding-left: 5px;
}
.project-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #333;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.signle-project-item:hover .project-bg::after{
    opacity: .3;
    visibility: visible;
}
.signle-project-item:hover h3,.signle-project-item:hover .inline-btn{
    color: #f08a59;
}
.projects-bg-1{
    background-image: url(https://images.pexels.com/photos/15625360/pexels-photo-15625360.jpeg);
}
.projects-bg-2{
    background-image: url(https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.projects-bg-3{
    background-image: url(https://images.pexels.com/photos/2335126/pexels-photo-2335126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.projects-bg-4{
    background-image: url(https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* Our projects end */


/* Our team member start */
.team-social-links .fa-brands {
    color: black;
}


.theme-thumb {
    height: 305px;
    background-color: #ddd;
    background-size: cover;
    background-position: center top;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}
.theme-thumb::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f08a59;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.single-team-member:hover .theme-thumb::after{
    opacity: .5;
    visibility: visible;
}
.team-info {
    border: 1px solid #eeedee;
    padding: 20px;
    text-align: center;
}
.team-info h3 {
    font-size: 20px;
    font-weight: 600;
}
.team-social-links a {
    height: 35px;
    width: 35px;
    border: 1px solid #888;
    display: inline-block;
    line-height: 32px;
    margin: 0 3px;
}
.team-social-links a :hover{
    color: #f08a59;
}
.theme-bg-1{
    background-image: url(https://images.pexels.com/photos/2097103/pexels-photo-2097103.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.theme-bg-2{
    background-image: url(https://images.pexels.com/photos/2649403/pexels-photo-2649403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.theme-bg-3{
    background-image: url(https://images.pexels.com/photos/4101555/pexels-photo-4101555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.theme-bg-4{
    background-image: url(https://images.pexels.com/photos/4220967/pexels-photo-4220967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.single-logo-wrap {
    height: 120px;
}

.single-logo-wrap img {
    max-height: 120px;
    width:auto;
}
section#logo-area {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px 0;
    margin-bottom: 90px;
}
/* Our team member ends */
/* site-footer start */
footer.site-footer {
    background-color: #000000;
}

.site-footer, .site-footer a {
    color: #80807f;
}

.site-footer .about-text {
    padding: 0;
    padding-right: 40px;
}
.widget-title {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 36px;
}

.widget-title::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50px;
    height: 1px;
    content: "";
    background-color: #ddd;
}
.widget-title {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.widget-title::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50px;
    height: 1px;
    content: "";
    background-color: #ddd;
}



.email-subscribe input, .email-subscribe button {
    color: #fff;
    background: none;
    border: none;
    padding: 10px;
}

.email-subscribe {
    background: #222222;
}

.email-subscribe button {
    float: right;
    width: 20%;
}
input:focus, a:focus, button:focus, textarea:focus{
    outline: none;
}
.single-blog-post h4 a {
    font-size: 17px;
}
.footer-padding {
    padding-top: 30px;
}
a.footer-logo {
    color: #fff;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 10px 30px;
}
/* site-footer end */