.section-padding{
    padding: 40px 0;
}
.section-title h2 {
    position: relative;
    z-index: 1;
    font-size: 35px;
    font-weight: 700;
    color: #333;
}
/* h2,h3{
    color: #000;
} */
.section-title h2::before {
    position: absolute;
    left: -30px;
    width: 5px;
    height: 100%;
    content: "";
    background-color: #ffbb00;
    top: 0;
}
body{
    color: #787878;
    font-size: 15px;
    line-height: 1.8;
}
.section-title {
    margin-bottom: 40px;
}

.service-icon {
    font-size: 50px;
    color: #ffbb00;
}

.single-service-box h3 {
    color: #4755bd;
    text-transform: capitalize;
}

.single-service-box {
    margin-bottom: 40px;
}
.border-box {
    border: 7px solid #ffbb00;
    padding: 40px;
    margin-left: 30px;
    margin-top: 100px;
    margin-right: 100px;
}
img.bordered-img {
    margin-top: -140px;
    margin-bottom: 40px;
    margin-right: -140px;
    max-width: 160%;
    width: 400px;
    height: 390px;
    position: relative;
}
.border-box-readmore-btn {
    position: absolute;
    transform: rotate(270deg);
    font-weight: 700;
    text-transform: uppercase;
    color: #4755bd;
    right: -10px;
    bottom: 106px;
}