.section-title {
    text-align: center;
    margin-bottom: 85px;
}



.section-title p {
    color: #999;
}
h1,h2,h3,h4,h5,h6{
    color: #51528c;
    font-weight: 400;
}
body{
    font-size: 15px;
    line-height: 1.9;
    color: #999;
}
.feature-wrap {
    position: relative;
    z-index: 1;
    padding-bottom: 145px;
}

img.hand-absolute {
    position: absolute;
    right: -100px;
    bottom: 0;
    width: 40%;
}

h3 {
    font-size: 22px;
    margin-bottom: 25px;
}
.feature-area{
    padding-top: 100px;
}

.main-menu-area ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu-area li {
    display: inline-block;
}

.main-menu-area li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.main-menu-area {
    background: #4c4f8c;
    width: 100%;
}
.affix{
    width: 100%;
}

.stick-area{
    width: 100%;
    z-index: 999;
}