
.flipbox {
	margin: 0 auto;
	height: 250px;  
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

	
.flipbox .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
            width: 100%;
}

.flipbox .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
            width: 100%;
}
.flipbox.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.flipbox.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}


.flip-area {
    background: #efefef;
    padding: 100px 0;
}
.flip-box-service h2 {
    font-weight: 400;
}
.flip-box-service i.fa-solid {
    font-size: 80px;
    margin-bottom: 24px;
}

.flip-box-service {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid black;
    height: 100%;

}
.back .flip-box-service {
    color: #fff;
    background: #000;
}
.col-md-4 {
    padding-bottom: 30px;
}

.flip-box-service-tablecell {padding-top: 25px;}
